// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

// Define fonts for body and headers
$body-font: "Source Sans Pro", "Helvetica", "sans-serif";
$headers-font: "Libertinus Sans", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Libertinus Sans";
  src: asset-url('fonts/LibertinusSans-Regular.woff2') format('woff'),
       asset-url('fonts/LibertinusSans-Regular.otf') format('opentype')
}

@font-face {
  font-family: "Libertinus Sans";
  src: asset-url('fonts/LibertinusSans-Bold.woff2') format('woff'),
       asset-url('fonts/LibertinusSans-Bold.otf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Libertinus Sans";
  src: asset-url('fonts/LibertinusSans-Italic.woff2') format('woff'),
       asset-url('fonts/LibertinusSans-Italic.otf') format('opentype');
  font-style: italic;
}

// $my-font: "Font Name";
