<h2>Your confirmed consultations:</h2>
<% @confirmed_consultations[0].each do |consultation| %>
  <h2>Booked by: <%= link_to "#{consultation.client.first_name} #{consultation.client.last_name}", client_profile_path(consultation.client) %></h2>
  <p><%= consultation.daycare.name %></p>
  <p><%= consultation.date_time %></p>
  <p>Status:<%= consultation.status %></p>
<% end %>
