// Specific CSS for your home-page
.banner {
  // background-size: cover;
  // background-position: center;
  // padding: 30px 0;
  height: 95vh;
  width: 95%;
  border-bottom: 1px solid rgba(80,80,80,0.2);
}

.banner h1 {
  margin: 0;
  color:#FF6053;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 150px;
  font-weight: 300;
  margin-top: 130px;
}

.title-text {
  padding-right: 80px;
  // width: 50%;
  margin-bottom: auto;
  // display: flex;
  // justify-content: end ;
}

.banner p {
  font-size: 24px;
  color: #63AEF2;
  // opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // margin-left: 86px;
}

.map-column {
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-top: 32px;
}

.map-column-home {
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-top: 8px;
}

.map-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 18vh;
  padding: 60px;
}

.checked {
  color: orange;
}

.fa-star {
  color: orange;
}

.filter-bar {
  width: 196px;
  margin-top: 8px;
  // border-radius: 12px;
  // border: 1px solid rgba(80,80,80,0.2)
  border-right: 1px solid rgba(80,80,80,0.2);
  padding-right: 9px;
}

.filter-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 18vh;
}

.filter-font {
  color: rgb(120,120,120)
}

.filter-font h2 {
  padding-top: 8px;
  font-size: 16px;
}

.search-btn {
  color:#FF6053 !important;
  background-color: white !important;
  border-color: #FF6053;
}

.search-btn:hover {
  background-color:#FF6053 !important;
  color: white !important;
  border-color: #FF6053;
}

.br-theme-bars-1to10 .br-widget a {
  width: 8px;
  height: 28px;
  border-radius: 3px;
}

.call-to-action .confirm-btn {
    background-color:#63AEF2 !important;
    color: white !important;
    border-color:#63AEF2;
  }

.call-to-action .confirm-btn:hover {
  color:#63AEF2 !important;
  background-color: white !important;
  border-color:#63AEF2;
}
.call-to-action p {
font-size: 22px;
// margin-left: 260px;
}

.availabilities-text p {
  font-size: 14px;
}

.availabilities-text-favourites p {
  font-size: 16px;
}

.banner .col-6{
  width:45% !important;
}

.tags-form-column {
  height: 300px
}

.optional label{
  color: #63AEF2
}

.container-form h1 {
  color: #FF6053;
  margin-bottom: 32px
}
