.gallery-container {
  max-height: 420px;
}

.image {
  object-fit: cover;
  // border-radius: 24px;
  height: 100%;
  width: 100%;
}

.big-image {
  border-radius: 18px 0px 0px 18px !important;
}

.small-image {
  border-radius: 0px 18px 0px 0px !important;
}

.medium-image {
  border-radius: 0px 0px 18px 0px !important;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.line-break {
  border-bottom: 1px solid rgba(80,80,80,0.2);
  padding: 12px 0px 12px 0px;
}

.map-daycare {
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.review-card p {
  margin-bottom: 2px;
  font-size: 14px;
}

.review-card h3 {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
  }

.review-card a {
  color:#63AEF2;
  text-decoration: none;
}

.review-card img {
  margin-right: 8px;
  height: 50px;
  width: 50px;
  }

.book-now {
  border: none;
  background-color: white !important;
  // border-color: #63AEF2;
  border-left: 1px solid rgba(80,80,80,0.2);
}

.card-body .book-now {
}

.btn  {
  border-radius: 12px;
}

.features-line-break {
  border-right: 1px solid rgba(80,80,80,0.2);
}

.pink {
  color: #FF6053;
}

.blue {
  color: #63AEF2
}

.description p {
  font-size: 14px !important;
}

.see-more-text p {
  font-weight: 500;
  margin-bottom: 4px;
}

.see-more {
  text-align: center;
}

.see-more a {
  text-decoration: none;
  color: #63AEF2;
  font-size: 14px;
}

.red {
  color: #942d4d
}

.daycare-title h1 {
  color:#FF6053;
  font-weight: 200;
}

.form-select {
  border-radius: 12px;
  // background-color: white;
  background-color: rgba(241, 241, 241,0.8);

}

.line-break-map {
  border-bottom: 1px solid rgba(80,80,80,0.2);
  margin-bottom: 8px;
}

.form-control {
  background-color: rgba(241, 241, 241,0.8);
}
