.admin-consultation-card h3{
  font-size: 18px;
  margin-bottom: 0px;
}

.admin-consultation-card p{
  font-size: 16px;
  margin-bottom: 0px;
}

.admin-consultation-card a{
  text-decoration: none;
  color: #FF6053;
}

.admin-consultation-card img {
  margin-right: 8px
}

.line-break-date {
  border-right: 1px solid rgba(80,80,80,0.2);
  // border-left: 1px solid rgba(80,80,80,0.2);
  // padding: 12px 0px 12px 0px;
}

.line-break-btn {
  border-right: 1px solid rgba(80,80,80,0.2);
  // border-left: 1px solid rgba(80,80,80,0.2);
  padding: 0px 18px 0px 0px;
}

.date-box p{
  padding: 8px 16px 16px 0px;
}

.decline-btn {
  color:#FF6053 !important;
  margin-left: 8px !important;
  background-color: white !important;
  border-color: #FF6053;
}

.decline-btn:hover {
  background-color:#FF6053 !important;
  margin-left: 8px !important;
  color: white !important;
  border-color: #FF6053;
}

.edit-btn {
  color:#FF6053 !important;
  margin-left: 8px !important;
  background-color: white !important;
  border-color: #FF6053;
  padding-left: 22px;
  padding-right: 22px;
}

.edit-btn:hover {
  background-color:#FF6053 !important;
  margin-left: 8px !important;
  color: white !important;
  border-color: #FF6053;
  padding-left: 22px;
  padding-right: 22px;
}

.confirm-btn {
  color:#63AEF2 !important;
  background-color: white !important;
  border-color:#63AEF2;
}

.confirm-btn:hover {
  background-color:#63AEF2 !important;
  color: white !important;
  border-color:#63AEF2;
}

.consultation-class {
  margin: 0px !important;
}

.line-break-consultations {
  border-bottom: 1px solid rgba(80,80,80,0.2);
}

.nav-tabs a {
  color: #63AEF2;
}

.nav-tabs {
  margin-top: 24px;
}

.nav-tabs .nav-link.active {
  color: #FF6053;
  // border-top: none;
}

.active {
  background-color: white !important;
}

.line-break-tab {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 1px;
  // margin-bottom: -1px;
}

.calendar .btn-primary {
  background-color:#FF6053;
  color: white;
  border-color:#FF6053;
}

.calendar .btn-primary:hover {
  color:#FF6053;
  background-color: white;
  border-color:#FF6053;
}

.calendar .btn-outline-primary {
  color:#FF6053;
  background-color: white;
  border-color:#FF6053;
}

.calendar .btn-outline-primary:hover {
  background-color:#FF6053;
  color: white;
  border-color:#FF6053;
}

.table {
  border-radius: 12px !important;
  margin-top: 8px
}
