.simple-calendar {
  table {
    min-height: 80vh;
    border-color:#FF6053;
  }

  .day {
    // color: #63AEF2 !important;
  }
  tr {
    border-radius: 12px;
    border-color:#FF6053;
  }

  .today {
    background-color: #FAF3DD;
  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1BCB7F;
  color: white;
}
