.card-product {
  // overflow: hidden;
  height: 150px;
  background: white;
  display: flex;
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.card-product h2 {
  font-size: 18px;
  // font-weight: 600;
  margin: 0;
}

.card-product a {
  color: #FF6053;
  text-decoration: none;
}

.card-product .checked {
  color: orange;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
  z-index: 0 !important;
}

.card-product .card-product-infos {
  padding: 8px 8px 8px 16px;
}

.btn-tag {
  // margin-top: 4px;
  background-color: white;
}

.btn-tag a {
  color: #6c757d;
}

.btn-tag p :hover {
  color: white;
}

.btn-tag p {
  padding-top: 4px;
  padding-bottom: 4px;
}

.green {
  color: #38a858
}

// .index-card {
//   width: 1000px
// }
