.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 108px;
}

.form-control {
  border-radius: 12px;
}

.line-break-navbar {
  border-bottom: 1px solid rgba(80,80,80,0.2);
  padding: 12px 0px 12px 0px;
}

.dropdown-menu.show {
  z-index: 150000;
}
