*#stop-motion-animation > div{
  width:808px;
  height:760px;
  background-image:url('stop_motion_kite.png');
  background-repeat:no-repeat;
  -webkit-animation-name:ani;
  -webkit-animation-duration:1.3s;
  -webkit-animation-timing-function:steps(1);
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-play-state:paused;
  animation-name:ani;
  animation-duration:1.3s;
  animation-timing-function:steps(1);
  animation-iteration-count:infinite;
  animation-play-state:paused;
  -webkit-animation-play-state:running;
  animation-play-state:running;
 }

 @-webkit-keyframes ani{
  12.5%{
   background-position:-720px 0;
  }
  25%{
   background-position:-1460px 0;
  }
  37.5%{
   background-position:-2247px 0;
  }
  50%{
   background-position:-3045px 0;
  }
  62.5%{
   background-position:-3903px 0;
  }
  75%{
    background-position:-4752px 0;
  }
  87.5%{
    background-position:-5680px 0;
  }
 }
 @keyframes ani{
  12.5%{
    background-position:-720px 0;
   }
   25%{
    background-position:-1460px 0;
   }
   37.5%{
    background-position:-2247px 0;
   }
   50%{
    background-position:-3045px 0;
   }
   62.5%{
    background-position:-3903px 0;
   }
   75%{
     background-position:-4752px 0;
   }
   87.5%{
     background-position:-5680px 0;
   }
 }
