.tags i {
  color: #FF6053;
}

.tags i::before {
  margin-right: 8px;
}

.tags a {
  text-decoration: none;
  color: #63AEF2;
  // font-size: 16px;
}

.tags-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 58px;
  background-color: white;
  z-index: 1;
  padding-top: 8px;
  margin: 0px
}

.line-break-tags {
  border-bottom: 1px solid rgba(80,80,80,0.2);
  padding: 2px 0px 2px 0px;
}

.tags-features i {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
  color: #FF6053;
}

.tags-features p {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
  font-size: 16px;
}

.tags-features i::before {
  margin-right: 18px;
  margin-left: 12px;
}

.tags-features a {
  text-decoration: none;
  color: #63AEF2;
  // font-size: 16px;
}

.tags a:hover {
  color: blue;
}


.clear-tag p {
  padding-right: 4px;
  font-size: 14px;
}

.clear-tag a:hover {
  color: white;
}

.clear-filter-tag p {
  padding-right: 6px;
  padding-left: 6px;
  font-size: 16px;
  margin-left: 4px;
}

.clear-filter-tag {
  margin-left: 8px;
}

.clear-filter-tag a {
  text-decoration: none;
}

.clear-filter-tag:hover a {
  color: white;
}
