.tags i {
  color: #FF6053;
}

.tags i::before {
  margin-right: 8px;
}

.tags a {
  text-decoration: none;
  color: #63AEF2;
  // font-size: 16px;
}

.tags-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 58px;
  background-color: white;
  z-index: 420;
  padding-top: 8px;
  margin: 0px
}

.line-break-tags {
  border-bottom: 1px solid rgba(80,80,80,0.2);
  padding: 2px 0px 2px 0px;
}

.tags-features i {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
  color: #FF6053;
}

.tags-features p {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
  font-size: 16px;
}

.tags-features i::before {
  margin-right: 18px;
  margin-left: 12px;
}

.tags-features a {
  text-decoration: none;
  color: #63AEF2;
  // font-size: 16px;
}

.tags a:hover {
  color: blue;
}
