// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "jquery-bar-rating/dist/themes/bars-1to10";
@import "jquery-bar-rating/dist/themes/css-stars";
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import "simple_calendar";

// Your CSS partials
@import "components/index";
@import "pages/index";

.page-container {
  position: relative;
  min-height: 100vh;
}

body {
  background-color: white;
  color: rgb(50,50,50)
  // font-family: 'Quicksand', sans-serif;
}

.stuck {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 300;
}

h2 a {
  font-size: 18px;
  font-weight: 500;
}

.btn {
  border-radius: 12px;
}

.br-theme-bars-1to10 .br-widget a {
  // color: red;
  background-color: #FF6053;
}

.br-theme-bars-1to10 .br-widget a.br-selected {
  background-color: #63AEF2;
}

.br-theme-bars-1to10 .br-widget a.br-active {
  background-color: #63AEF2;
}

.br-theme-bars-1to10 .br-widget .br-current-rating {
  font-size: 20px;
  line-height: 1.5;
  float: left;
  padding: 0px 0px 0px 6px;
  margin-bottom: 8px;
  color: #EDB867;
  font-weight: 400;
}

.arrow {
  z-index: 0;
}

.footer-links:hover {
  color: #FF6053;
}

.form-inputs {
  width: 300px;
  align-items: center;
  margin-left: 600px;
  margin-top: 30px;
}

.sign-up {
  margin-left: 700px;
  padding-top: 30px;
  font-size: large;
}

.form-actions {
  margin-left: 700px;
  height: 200px;
}

.signup-btn {
  font-weight: bolder;
}

.sign-in {
  margin-left: 700px;
  padding-top: 30px;
}
