<h2>All consultations:</h2>
<% @user.consultations.each do |consultation| %>
  <h3><%= link_to consultation.daycare.name, daycare_path(consultation.daycare) %></h3>
  <p><strong>Date and Time:</strong><%= consultation.date_time %></p>
  <p><strong>Status:</strong><%= consultation.status %></p>
<% end %>
