<h2>All consultations:</h2>
<% @user.consultations.each do |consultation| %>
  <h3><%= link_to consultation.daycare.name, daycare_path(consultation.daycare) %></h3>
  <p><%= consultation.date_time %></p>
  <p>Status:<%= consultation.status %></p>
<% end %>
