<h2>Your Confirmed consultations:</h2>
<% @user.consultations.confirmed.each do |consultation| %>
  <h3><%= consultation.daycare.name %></h3>
  <p><%= consultation.date_time %></p>
  <p>Status:<%= consultation.status %></p>
<% end %>
