<h2>Your Confirmed consultations:</h2>
<% @user.consultations.each do |consultation| %>
  <% if consultation.status == 'confirmed' %>
  <h3><%= consultation.daycare.name %></h3>
  <p><strong>Date and Time:</strong><%= consultation.date_time %></p>
  <p><strong>Status:</strong><%= consultation.status %></p>
  <% end %>
<% end %>
