
  <% Review.where(client_id: @user.id).each do |review| %>
    <div class="review-card mt-4">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center review-card">
          <img src= "https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F13%2F2017%2F02%2F08%2F800x400-ms-frizzle-magic-school-bus.jpg&q=60" class="card-trip-user avatar-bordered" />
          <div class="flex-column">
            <p><strong><%= "#{review.client.first_name} #{review.client.last_name}" %></strong></p>

            <%# Add user location %>
            <p>Montreal, Quebec</p>
          </div>
        </div>
        <div>
          <% if review.client.first_name == current_user.first_name %>
            <%= link_to review_path(review), method: :delete, data: {confirm: 'Are you sure you want to delete this review?'} do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <%# Really sorry, too tired to do JS %>
      <div>
        <% if review.stars >= 1 %>
          <span class="fa fa-star checked"></span>
        <% else %>
          <span class="fa fa-star"></span>
        <% end %>
        <% if review.stars >= 2 %>
          <span class="fa fa-star checked"></span>
        <% else %>
          <span class="fa fa-star"></span>
        <% end %>
        <% if review.stars >= 3 %>
          <span class="fa fa-star checked"></span>
        <% else %>
          <span class="fa fa-star"></span>
        <% end %>
        <% if review.stars >= 4 %>
          <span class="fa fa-star checked"></span>
        <% else %>
          <span class="fa fa-star"></span>
        <% end %>
        <% if review.stars >= 5 %>
          <span class="fa fa-star checked"></span>
        <% else %>
          <span class="fa fa-star"></span>
        <% end %>
      </div>
      <p><%= review.content %> </p>
    </div>
  <% end %>
